/*styling info for table*/
table{
	background-color: aliceblue;
	border: solid black 5px;
	margin-top: 20px;
}
body{
	background-color: #c8e0e3;
	font-family: sans-serif;
}
th{
	border: 2px solid black;
	padding: 2px 8px;
}
tr{
	border: 1px solid black;
}
tr:nth-child(odd){
	background-color: lightgray;
}
td.last-price{
	font-weight: bold;
}
td.increasing{
	color: green;
	font-weight: bold;
}
td.decreasing{
	color: red;
	font-style: italic;
}
tr:hover td{
	background-color: aqua;	
}

.pop{
	background-color: aliceblue;opacity: 0.8;
	border-radius: 15px;
	margin: 25px 0px 25px 0px;
	padding: 20px;
}
div img{
	width: 100%;
}
#footer-img{
	width:15%;
	height: 15%;
}
#main-content > p{
	font-size: 1.2rem;
}
textarea{
	margin-bottom: 20px;
}